body {
  margin: 0;
}
/* ---------- 바디 ----------  */
header {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px;
  background-color: #1b2441;
  height: 20px;
  border-bottom: #688fd0 solid 1px;
  position: relative;
}

header a {
  text-decoration: none;
  color: #ffff;
}

header a:hover {
  color: #e6bd66;
}

#tottenham a{
  font-size: 20px;
  color: #d2d4d3;
  font-weight: 500;
}
.minibox{
  display: flex;
  flex-direction: row;
  gap: 15px;
  margin-left: auto;
  font-size: 13px;
}
/* ---------- 네비게이션 ----------  */
#logonav {
  height: 60px;
  width: 100%;
  background-color: #d2d4d3;
  display: flex;
}

#logo img {
  height: 40px;
  width: auto;
}

nav {

}

nav ul {
  display: flex; /* 가로로 배치*/
  align-items: center;
  list-style: none; /* 기본 리스트 스타일 제거 */
  margin: 0;
  height: 100%;
}

nav li {
  margin: 0;
  text-align: center;
  padding: 5px 10px;
  font-weight: 800;
  font-size: 18px;
  transition: 0.3s ease;
}

nav li a:hover {
  background-color: #d2d4d3;
  color: #688fd0;
}
nav li:hover{
  border-bottom: 5px solid #688fd0;
}
nav a {
  /* 링크에 대한 역할  */
  text-decoration: none;
  color: #151b31;
  line-height: 40px;
  display: block;
  transition: 0.5s ease;
}

/* ---------- 메인 사진 ----------  */
.mainPhotoDiv{
  display: flex;
  justify-content: center;
  background-color: #151b31;
  position: relative;

}
#mainphoto {
  height: 600px;
  width: 1200px;
}
.mainPhotoDiv h1{
  user-select: none;
  background-color: #151b31;
  padding: 0px 10px;
  color: #fff;
  position: absolute;
  font-size: 100px;
  font-weight: 900;
  bottom: -67px;
  right: 150px;
}
.line2{
  margin-left: 160px;
}
/* ---------- 섹션 (사이드바) ----------  */
section{
  min-height: 1000px;
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  padding: 0px 20px;

}
.uniformZone{
  border: 3px solid #000532;
  width: 400px;
  height: 450px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 20px;
}
.watching{
  display: flex;
  justify-content: center;
  height: 300px;
}
.uniformChangeButton{
  display: flex;
  flex-direction: row;
  gap: 15px;
  margin: 10px 0px;
}

.uniformChangeButton > img{
  cursor: pointer;
  width: 40px;
  border: #d2d4d3 solid 3px;
  transition: 0.3s ease;
}
.uniformChangeButton > img:hover{
  transform: scale(1.2);
}
.uniformChangeButton > img:active{
  transform: translateY(1px);
}
.uniform{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 30px;
}
.arrow{
  height: 60px;
  cursor: pointer;
}

/* 경기 결과 */
#matchResult{
  height: 1000px;
  border: 2px solid #000532;
  padding: 5px 10px;
}
.matchResultTitle{
  background: rgb(184,199,222);
  background: linear-gradient(90deg, rgba(184,199,222,1) 1%, rgba(111,147,192,0.9472163865546218) 23%, rgba(102,136,194,1) 100%);
  height: 60px;
  padding: 10px 15px;
  color:#23224c;
  font-weight: 800;
  font-size: 50px;
}

.match{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: 2px solid black;
  width: 650px;
  height: 110px;
  flex-wrap: wrap;
}
.score{
  display: flex;
  align-items: center;
  height: 60%;
  margin: 0 20px;
}
.team{
  width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.homeTeam{
  border: red 2px solid;

}
.awayTeam{
  border: blue 2px solid

}
.teamName{
  display: flex;
  justify-content: center;
  align-items: center;
}
.teamLogo{
  width: 30px;
  height: 30px;
  
}
.matchInfo{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column
}



/* ---------- 푸터 ----------  */
footer {
  margin: 0;
  padding: 0;
  border-top: #e6bd66 solid 10px;
  height: 300px;
}
.footerImg{
  width: 100%;
}
.footerLinks ul{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 40px;
}
.footerLinks ul li{
  list-style: none;

}
.footerLinks ul li a{
  text-decoration: none;

}
.footerLinks ul li img{
  width: 50px;
}
.aboutMe{
  height: 300px;
  background-color: #000532;
  color: #fff;
}

/* ---------- 미디어쿼리 ----------  */
@media (max-width: 600px) {
  body {
    background-color: #67686a;
  }
  #logo {
    display: none;
  }
  nav li {
    background-color: #ffff;
  }
  nav a {
    color: black;
  }
  #mainphoto {
    order: 1;
    width: 100%;
  }
  article {
    order: 2;
    width: 100%;
  }
  aside {
    order: 3;
    width: 100%;
  }
  /* section 내의 요소들을 세로로 배치 */
  section {
    display: flex;
    flex-direction: column; /* 세로로 배치 */
  }
}
